# Auto detect text files and perform LF normalization
*          text=auto

.gitattributes export-ignore
.gitignore     export-ignore
.gitkeep       export-ignore

*.md       text diff=markdown
*.md linguist-detectable=true

*.sh       text eol=lf

# Serialisation
*.json     text
*.toml     text
*.yaml     text
*.yml      text